@charset "UTF-8";
/* rainy season (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #B2DDFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: Copperplate Gothic Light, fantasy;
	font-size: 16px;
	color: black;
}


/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #6DC1FF;
	font-size: 0.8em;
}

.hidden {
	display: none;  
}

.task-head {
	text-decoration: underline;
}

.visible {
	display: block;
}

#chevron {
	transform: scale(2, 1);
	font-size: 1em;
}

#task {
	position: absolute;
	z-index: 1;
	padding: 0.5vh 10vw;
	background-color: #224B8B;
	color: white;
}


/* MAIN */
input {
	display: block;
	margin: 0 auto 3vh;
}

main {
	padding-top: 10vh;
}

.display {
	border: 2px #3BABFD solid;
	border-radius: 5px;
	margin: 2vh 15vw;
	padding: 1vh 0;
}

.form-input {
	border: none;
	border-bottom: 1px black solid;
	background-color: transparent;
	font-family: Copperplate Gothic Light, fantasy;
	font-size: 1em;
	text-align: center;
}

.form-input:focus {
	border-bottom-color: red;
	color: black;
}

.form-input:focus::placeholder {
	font-style: italic; 
}

#form-submit {
	border: 2px indianred solid;
	border-radius: 5px;
	padding: 0.5vh 3vw;
	font-family: cursive;
	font-size: 1em;
}

#form-submit:active {
	background-color: lightgreen;
	border-color: silver;
}



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1.5vh 0;
	background-color: #06CDF4;
}

.more-link {
	font-size: 1.3em;
	color: black;
}

.more-link:active {
	color: pink !important;
}

.more-link:hover {
	color: red;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}